<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/info" method="post">
        <input type="text" name="student[firstName]" id="" placeholder="First Name">
        <input type="text" name="student[lastName]" id="" placeholder="Last Name">
        <input type="text" name="student[mathsMarks]" id="" placeholder="Maths Marks">
        <input type="text" name="student[englishMarks]" id="" placeholder="English Marks">
        <div>
            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>