<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shourya Kothari | Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/header.css">
</head>
<body>
    <div id="nav" class="nav">
        <div class="bar">
            <ul>
                <li>
                    <a href="/"><i class="fa fa-home"></i></a>
                    <a href="/aboutMe"><i class="fa fa-info"></i></a>
                    <a href="/skills"><i class="fa fa-cogs"></i></a>
                    <a href="/gallery"><i class="fa fa-camera-retro"></i></a>
                    <a href="/contactMe"><i class="fa fa-address-book"></i></a>
                </li>
            </ul>
        </div>
        <div class="text">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutMe">About Me</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contactMe">Contact Me</a></li>
            </ul>
        </div>
    </div>


