<%- include('../partials/header'); %>

<link rel="stylesheet" type="text/css" href="/stylesheet/aboutMe.css">


<div class="container-fluid">
    <img src="/stylesheet/images/shourya.jpg" alt="">
    <div class="my text-center">
        <h1>ABOUT ME</h1>  
        <hr id="myHr">
        <p> 
           I am an aspiring web developer. 
           I started web development in this quarantine and have created a dating website with two other friends.
           My hobbies are playing football and cricket. I hope to develop and improve my skills with unicode.
        </p>
        </div>
        <!-- <div class="col col-md-9 col-lg-8">
            <div class="row justify-content-center">
                <h1>About Me</h1>
            </div>
            <div class="row">
                <hr>
            </div>
        </div> -->
    </div>
</div>


<%- include('../partials/footer'); %>