<%- include('../partials/header'); %>

<link rel="stylesheet" href="/stylesheet/home.css">

<h1>Shourya Kothari</h1>
<p class="description">
    Aspiring Web Developer
</p>

<%- include('../partials/footer'); %>